@import "tailwindcss";


@theme {
  --breakpoint-xs: 480px;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #ffffff, #f5f5f5);
  min-height: 90vh;
}